/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


header, section, article, footer, div {
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background: url(../images/background4.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    font-size: 20px;
    font-family: "Open-Sans",Arial, sans-serif;
    line-height: 1.4;
    color: white;
}

header h1 {
    font-weight: normal;
    font-size: 2.4em;
    width: 30em;
    float: left;
    color: white;
    margin-top: 0em;
    margin-left: 0em;
}

    header h1 img {
        width: 7em;
        height: 3em;
    }

header nav {
    color: black;
    width: 30em;   
    text-align: right;
    color: white;
}
header nav , header nav ul{
     float: right;
}

    header nav li {
        display: inline;
        padding: 0 0.5em;
        text-align: left;
        font-size: 1.5em;
    }

a {
    color: white;
    font-family: 'Bree Serif', serif;
}
a:visited
{
    color:yellow;
}
a:hover
{
    color:greenyellow;
}

h2 {
    margin: .5em 0;
    color: white;
    font-family: 'Lobster', cursive;
    font-weight:bolder;
    font-size:1.5em;
}
section {
    width: 65%;
    float: left;
    border: 1px solid black;
    margin-bottom: 1em;
    margin-right:1em;
}

aside {
    width: 29%;
    float: right;
    border: 1px solid black;
    background: url(../images/asideBackground.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    margin-right: 1em;
}

    aside iframe {
        width: 100%;
        height: 8em;
        margin:1em 0em;
    }
    aside :first-child iframe
    {
        margin-top:0em;
    }
    aside:last-child iframe
    {
        margin-bottom:0em;
    }
  aside :last-child
  {
      margin-bottom:0em;
  }
section div img {
    max-width: 100%;
    max-height: 100%;
}

footer {
    clear: both;
    height: 3.5em;
    position: relative;
    z-index: 150;
    background-color: black;
    width:100%;
}

    footer nav {
        width:100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }

        footer nav li {
            display: inline-block;
            margin: 0 1em;
        }

    footer img {
        width: 1.5em;
        height: 1.5em;
    }

.hamburger {
    display: none;
    position: absolute;
    top: .5em;
    right: .5em;
}

     .hamburger div {
        width: 2em;
        height: .5em;
        background-color: white;
        margin: 0.25em 0em;
        border-radius: 0.15em;
    }




/* carrosel*/
.carousel-showmanymoveone .carousel-control {
    width: 4%;
    background-image: none;
}

    .carousel-showmanymoveone .carousel-control.left {
        margin-left: 15px;
    }

    .carousel-showmanymoveone .carousel-control.right {
        margin-right: 15px;
    }

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
    display: none;
}

@media all and (min-width: 768px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -50%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 50%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
        display: block;
    }
}

@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        left: 0;
    }

        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

@media all and (min-width: 992px) {
    .carousel-showmanymoveone .carousel-inner > .active.left,
    .carousel-showmanymoveone .carousel-inner > .prev {
        left: -25%;
    }

    .carousel-showmanymoveone .carousel-inner > .active.right,
    .carousel-showmanymoveone .carousel-inner > .next {
        left: 25%;
    }

    .carousel-showmanymoveone .carousel-inner > .left,
    .carousel-showmanymoveone .carousel-inner > .prev.right,
    .carousel-showmanymoveone .carousel-inner > .active {
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner .cloneditem-2,
    .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
        display: block;
    }
}

@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
    .carousel-showmanymoveone .carousel-inner > .item.active.right,
    .carousel-showmanymoveone .carousel-inner > .item.next {
        -webkit-transform: translate3d(25%, 0, 0);
        transform: translate3d(25%, 0, 0);
        left: 0;
    }

    .carousel-showmanymoveone .carousel-inner > .item.active.left,
    .carousel-showmanymoveone .carousel-inner > .item.prev {
        -webkit-transform: translate3d(-25%, 0, 0);
        transform: translate3d(-25%, 0, 0);
        left: 0;
    }

        .carousel-showmanymoveone .carousel-inner > .item.left,
        .carousel-showmanymoveone .carousel-inner > .item.prev.right,
        .carousel-showmanymoveone .carousel-inner > .item.active {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            left: 0;
        }
}

.container {
    margin-bottom: 2.5em;
}

@media (max-width: 1024px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    header nav {
        display: none;
    }

    section {
        width: 95%;
    }
    .foodimage{
       display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .hamburger {
        display: block;
    }

        .hamburger div {
            border: 0.05em solid white;
            display: block;
        }

    aside {
        display: none;
    }
}
