/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/


header, section, article, footer, div {
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: url(../images/background4.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    font-size: 20px;
    font-family: "Open-Sans",Arial, sans-serif;
    line-height: 1.4;
    color: white;
}

header h1 {
    font-weight: normal;
    font-size: 2.4em;
    width: 30em;
    float: left;
    color: white;
    margin-top: 0em;
    margin-left: 0em;
}

    header h1 img {
        width: 7em;
        height: 3em;
    }

header h2 {
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    float: left;
    width: 30%;
    padding-top: .05em;
}

header nav {
    color: black;
    width: 30em;
    float: right;
    text-align: right;
    color: white;
}

    header nav li {
        display: inline;
        padding: 0 0.5em;
        text-align: left;
    }

a {
    color: white;
    font-family: 'Bree Serif', serif;
}
a:visited
{
    color:yellow;
}
a:hover
{
    color:greenyellow;
}


section h1 {
    font-size: 1.3em;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
    margin-bottom:.5em;
}

p {
    margin-top: 3%;
    margin-bottom: 1%;
    margin-right: 13%;
}

section div {
    width: 100%;
}

section img {
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
}

section {
    margin-left: 3em;
    margin-bottom: 3em;
    margin-right: 8em;
}

section h2 {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 1em;
}

ul {
    list-style-type: square;
    color: white;
}

footer {
    clear: both;
    height: 3.5em;
    position: relative;
    z-index: 150;
    background-color: black;
    width:100%;
}

    footer nav {
        width:100%;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }

        footer nav li {
            display: inline-block;
            margin: 0 1em;
        }

    footer img {
        width: 1.5em;
        height: 1.5em;
    }

.hamburger {
    display: none;
    position: absolute;
    top: .5em;
    left: .5em;
}

    .hamburger div {
        width: 1.5em;
        height: 0.25em;
        background-color: white;
        margin: 0.15em 0em;
        border-radius: 0.15em;
    }


@media (max-width: 1024px) {
    body {
        font-size: 1em;
    }

    @media (max-width: 768px) {
        body {
            font-size: 0.75em;
        }

        header nav {
            display: none;
        }

        .hamburger {
            display: block;
        }

            .hamburger div {
                border: 0.05em solid white;
                display: block;
            }
    }
